
.ordersCardDesign {
    height: 7em;
    width: 50em;

    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

    background-color: rgb(213, 246, 246);
    color: darkslategray;
    border: 0.2 solid black;

    transition: 0.5s;
    margin: 1em;
    
}

.ordersCardDesign:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.selectedCard {
    background-color: darkcyan;
    color: white;
}

.avatar {
    height: 5em;
    width: 5em;
}