
.storesCardDesign {
    height: 15em;
    width: 20em;

    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(213, 246, 246);
    color: darkslategray;
    font-weight: 900;
    border: 0.2 solid black;

    transition: 0.5s;
    margin: 1em;
    
}

.storesCardDesign:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.selectedCard {
    background-color: darkcyan;
    color: white;
}

.avatar {
    height:15em;
    width: 15em;
}