

.loginDesign {

    height: 84vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: beige;
}

.containerLoginDesign{
    height: 15em;
    width: 50em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.containerLoginTitle{
    height: 10em;
    width: 15em;
    gap: 3.5em;
    
    display: flex;
    flex-direction: column;
    text-align: start;
} 
.containerLoginText{
    height: 10em;
    width: 20em;
    display: flex;
    flex-direction: column;
}

.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: crimson;
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: lightcoral;
    cursor: pointer;
}