
.guildCardDesign {
    height: 22em;
    width: 20em;

    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(193, 247, 111);
    color: darkslategray;
    border: 0.2 solid black;

    transition: 0.5s;
    margin: 1em;
    
}

.guildCardDesign:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.selectedCard {
    background-color: darkcyan;
    color: white;
}

