.homeDesign {
    height: 100vh;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 45);

    overflow-y: scroll;
}

.homePantallaInicio {
    height: 100vh;
    width: auto;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-y: scroll;
}
.homeMap {
    height: 100vh;
    width: auto;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    background-repeat: no-repeat;
    background-size: cover; 
    overflow-y: scroll;
}
.inicioDesign {
    height: 86vh;
    width: 100vw;
}

