
.linkButtonDesign {

    color: darkslategray;
    font-weight:lighter;
    font-size: x-large;
    transition: 0.4s;
    margin-right: 2em;
    margin-bottom: 0.5em;
}

.linkButtonDesign:hover {

    transition: 0.4s;
    color: rgb(110, 173, 14);
    cursor: pointer;
}