.storesCardsDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
        
}

.storesRoster {
    margin: 1em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}