.cardsDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
    color: darkslategray;
  
}

.productsRoster {
    margin: 1em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderDelete {
    height: 2em;
    width: 8em;
    margin-top: 0.5em;
    border-radius: 1em;
    background-color: red;
    color: white;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
}