.cardsBasketDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color:white;
    color: darkslategray;
  
}
.contenedorBasket1{
    height:95vh;
    width: 100vw;
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.basketBox1{
    height: 100%;
    width: 50vw;
   
}

.basketRoster {
    height: 100%;
    width: 50%;
    margin: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basketBox1-1 {
    width: 88%;
    height: 100%;
} 
.orderDelete {
    height: 2em;
    width: 8em;
    margin-top: 0.5em;
    border-radius: 1em;
    background-color: red;
    color: white;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonConfirmBasket {
    height: 2.5em;
    width: 10em;
    margin-top: 0.5em;
    border-radius: 1em;
    background-color: green;
    color: white;
    font-size: large;

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.buttonConfirmBasket:hover {
    transition: 0.4s;
    background-color: greenyellow;
    color: darkgreen;
    cursor: pointer;
}