.orderDesign {
    height: 88em;
    width: 100vw;
    
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
 
    background-color: rgb(193, 247, 111);
    color: darkslategray;
    border: 0.2 solid black;

    transition: 0.5s;
    margin: 1em;
    
}

.orderRoster {
    margin: 1em;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;


}